@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

/*place global styles here */
html,
body {
  @apply h-full overflow-hidden;
}

@font-face {
  font-family: 'Quicksand';
  src: url('/fonts/Quicksand.ttf');
  font-display: swap;
}

.h1, .h2, .h3, .h4, .h5, .h6, a, button{
  font-weight: 700;
}
